.box{
    box-shadow: 0px 0px 20px 3px rgb(75, 234, 255);
    border-radius: 20px;
}
body{
    background: linear-gradient(to right top ,black ,black);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}